<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/estilos/index.css">
    <link rel="stylesheet" type="text/css" href="/estilos/header.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <title>Niveles de riesgo alumnos</title>

    
    <!--Alertify-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.css" integrity="sha512-MpdEaY2YQ3EokN6lCD6bnWMl5Gwk7RjBbpKLovlrH6X+DRokrPRAF3zQJl1hZUiLXfo2e9MrOt+udOnHCAmi5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
    </head>
    
    
    <body class="container">
        
     <!-- Alertify-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        
        <%- include('menu') %>
        
        
        <div class="header1" id="bajar">
            <b>
                Asistencia 
            </b>
        </div>


        <b> Se muestran las salidas y entradas del día de hoy</b>
        
        
        <script>
            function cargar () {

                alertify.confirm('Advertencia','¿Desea eliminar TODOS LOS REGISTROS DE ASISTENCIAS?', function(){ alertify.success('Asistencias reseteadas')
            document.getElementById("formEnviar").submit()
            }
                , function(){ alertify.error('Cancelado')});
               
            }

        
        </script>
        
        
      
    
    <div class="card">
        
        <div class="card-header text-white bg-success">
            <b>
                Escaneos QR
            </b>
        </div>
        
        <div class="card-body">
            <table class="table table-fluid" id="myTable1">
                
                <thead>
                    
                    
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>ESTADO</th>
                        <th>FECHA y HORA de escaneo</th>           
                        <th>ESTADO</th>           
                        <th>FECHA y HORA de escaneo</th>           
                                
                    </tr>
                    
                </thead>
                
                
                
                <tbody id="cuerpoAlta">
                    
                    
                     
                    
                    <% personas.forEach( (persona)=> { %>
                            <tr>
                                <%  contador = 0 %>
                                <%  let encontro = false %>
    
                                <td> <%= persona.nombre %> </td>
                                <td> <%= persona.apellidop %> </td>
    
                                <% entradas.forEach( (p)=> { %>
    
                                    <% if (persona.id == p.personaId) {%>
    
                                        <%  encontro = true %>
                                        <%  contador++ %>
    
                                        <% if(encontro == true){ %>
    
                                           
                                            <%if (contador == 1){%>
    
                                            <td> ENTRADA </td>
                                            <td><%= moment(p.fechaHora).format().substring(0,10) +" | " + moment(p.fechaHora).format().substring(11,19)  %> </td> 
    
                                            <%}else if(contador == 2){ %>
                                                <td> SALIDA</td>
                                                <td><%= moment(p.fechaHora).format().substring(0,10) +" | " + moment(p.fechaHora).format().substring(11,19)  %> </td> 
                                            <%}%>

                                        <%}%>

                                    <%}%>
    
                                <% }) %> 
                                            
                                <% if(encontro == false){ %>
                                   <td> <b>
                                    AUSENTE
                                   </b> </td>
    
                                   <td>-</td>
                                   <td>-</td>
                                   <td>-</td>
                                   
                                <%}%>
                                
                                <% if (contador == 1) {%>
                                    <td>-</td>
                                    <td>-</td>

                                <%}%>
    
                            </tr>
                        
                        
                        <% }) %>
                               
                                
                                
                </tbody>
                    
                    
            </table>
                        
                    </div>
                    
                </div>
                
            </div>
            
            
            

                <div class="card">
                    
                    <div class="card-header">
                        <b>
                            Opciones
                        </b>
                    </div>

                    <div class="card-body row">
                       

                        <div class="col-6">
                            <form id="formEnviar" action="/asistencia_eliminar" method="post">
                                
                            </form>
                            <b>Reiniciar asistencia</b>
                            <div>

                                Se eliminarán todos los registros de asistencia
                            </div>
                            <button class="btn btn-info mt-2" onClick="cargar()"> Reiniciar </button>

                        </div>

                        

                        <div class="col-6">
                            <form action="/buscarAsistencia" method="post">

                                <b>Búsqueda de entradas y salidas previas</b>
                            

                                <label class="form-label">Ingrese DNI de persona que quiere buscar:</label>

                                <input name="dni" id="dniInput" type="text" class="form-control"/>

                                
            
                                <button type="submit" class="btn btn-warning mt-2">
                                    Buscar
                                </button>
            
                            </form>
                            

                        </div>
                        
                        

                    </div>

                </div>
            
                
                
                
                
            
                <div>
                    
                    <%- include('footer') %>
                </div>
                <script src="/js/reportes.js"></script> 
                
            </body>
                </html>