<!DOCTYPE html>
<html>
    <head>
        <title>Ficha Sintomatologica</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/estilos/index.css">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/estilos/header.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <script>
            var u =  '<%- JSON.stringify(ficha) %>'; 
            const ultima = JSON.parse(u);
          </script>

   
<%- include('menu') %>

        <div class="header1" id="bajar">
            
            <h2><b>Ficha </b></h2>
        </div>
            
            <form name = "ficha" method="post" action="" enctype="multipart/form-data"> 
                <input type="hidden" name="id" value="<%= persona.id %>" /> 
                <input type="hidden" name="dni" value="<%= persona.dni %>" /> 
                <input type="hidden" name="estadoActual" id="estadoActual" /> 
                <label class="form-label">Nombre y apellido:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"
                    value="<%= persona.nombre + ' ' + persona.apellidop %>" disabled>
                </div>          
            </div>

            <div class="mb-3">
                <div class="row">
                    <label class="form-label">Teléfono:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"
                    value="<%= persona.telefono %>" disabled>
                </div>      
                </div>
            </div> 

            <div class="mb-3">
                <div class="row">
                    <label class="form-label">Fecha de ingreso:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="fechaIngreso"
                    value="<%= moment(fechaIngreso).format().substring(0,10) %>" disabled>
                </div>      
                </div>
            </div> 

            

            <% if(persona.esAlumno == 1) { %>
                <div class="mb-3">   
                    <label class="form-label">Luego de la jornada, mi hijo(a):</label>
                    <div class="form-check">
                        <input class="form-check-input"  value = "1" type="radio" name="salida" id="salidaSi" checked disabled>
                        <label class="form-check-label" for="salidaSi">
                            Se retirará solo
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input"  value = "0" type="radio" name="salida" id="SalidaNo" disabled >
                        <label class="form-check-label" for="SalidaNo">
                            Lo recogerán
                        </label>
                      </div>
                </div>
            <% } %>

            <div class="card mb-3">
                <div class="card-header">
                    <h5>Ficha Sintomatológica Familiar</h5>
                </div>
                <div class="card-body">
                    <p >En los últimos 14 días calendario,
                        ¿usted o algún miembro de la familia
                        con los que convive ha tenido alguno
                        de los siguientes síntomas? Puede marcar varias opciones:</p>

                        <div id= "tabla_familia">

                        </div>
                                   
                        <div class="mb-2 mt-3 ">   
                            <label class="form-label">¿Usted o algún miembro de la familia
                                con los que convive presenta algún
                                factor de riesgo para el Covid-19?
                                (Como por ejemplo, hipertensión,
                                diabetes, enfermedades cardiacas,
                                pulmonares, adulto mayor, cáncer,
                                embarazo, entre otras)</label>
                            <div class="form-check">
                                <input class="form-check-input" value = "1" type="radio" name="friesgo" id="flexRadioDefault1" disabled>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" value= "0" type="radio" name="friesgo" id="flexRadioDefault2" checked disabled>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    No
                                </label>
                              </div>
                        </div>


                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                  <h5>Ficha Sintomatológica del Externo</h5>
                </div>
                <div  class="card-body">
                    <p> En los últimos 14 días calendario, ¿ha
                        tenido alguno de los siguientes
                        síntomas? Puede marcar varias
                        opciones:</p>

                    <div id ="tabla_personal">

                    </div>
                        
                    <div class="mt-3">   
                        <label class="form-label">Si está bajo medicación, ¿Qué
                            medicamento(s) está tomando? </label>
                        <input name="medicina" type="text" class="form-control" disabled/>
                    </div>
                </div>
              </div>

    
        <div class="mb-3">   
            <label class="form-label">¿Usted (o algún miembro de la familia
                con los que convive) o su hijo/a se ha
                realizado alguna prueba de descarte
                covid-19 en los últimos 14 días?</label>
                <div class="form-check">
                    <input class="form-check-input" value="0" type="radio" name="prueba" id="prueba0" disabled>
                        <label class="form-check-label" for="prueba0">
                        Antígeno (Hisopado Nasofaríngeo)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input"  value="1" type="radio" name="prueba" id="prueba1" disabled>
                        <label class="form-check-label" for="prueba1">
                        Molecular/PCR
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="2" type="radio" name="prueba" id="prueba2" disabled>
                        <label class="form-check-label" for="prueba2">
                        Antígeno (Saliva o boca)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="3" type="radio" name="prueba" id="prueba3" checked disabled>
                        <label class="form-check-label" for="prueba3">
                        No me he descartado últimamente
                    </label>
                </div>
                
            </div>
            <div class="mb-3">
                
                <label for="formFileMultiple" class="form-label">
                    ¿Cuál fue su resultado? Adjunta aquí
                    el Certificado/Constancia de la
                    Prueba de descarte SARS-CoV-2
                    (Covid-19) (pueden subir hasta 5
                    documentos)</label>
                
                    <div class="list-group">

                    <% archivos.forEach( (i)=> { %>   
                        <a href="<%= i %>" target="_blank">
                            <button type="button" class="list-group-item list-group-item-action">
                                <%= i %>
                            </button>
                        </a>

                    <%  }) %>   

                      </div>
            
            </div>
  
        <div class="d-flex flex-row-reverse mb-3"> 
            <a id= "btnRegresar" class="btn btn-warning ">Volver</a>
        </div>


    </form>        
    <script  src="/js/ficha_sintomatologica_revision.js"></script>   
    </body>
</html>