<!DOCTYPE html>
<html>
    <head>
        <title>Reportes</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/estilos/index.css">
        <link rel="stylesheet" type="text/css" href="/estilos/header.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    </head>
    <body class="container">
        <%- include('menu') %>
        
        <div class="header1"   id="bajar">
            <h2><b>Reportes</b></h2>
        </div>
        <!-- ALUMNOS -->
        <div>

                <div class="header2">
                    <h2><b>Alumnos</b></h2>
                </div>
                    
                
    
                <div class="card mt-2">
                
                    <div class="card-header text-white bg-danger">
                        <b>
                            Casos COVID-19 confirmados
                        </b>
                    </div>
    
                    <div class="card-body">
                        <table class="table" id ="myTable1">
                            <thead>
                                <tr>
                                   
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                    
                                    <th>Teléfono</th>
                                    <th>faltan dias</th>
                                    
                                    <th>Fecha Detectado</th>
                                </tr>
                                
                            </thead>
                                                
                            <tbody>
    
                                <% casosConfirmados.forEach( (i)=> { %>
    
                                    <% let idPersonaEnCaso = i.idPersona %>
                                    
                                        <% alumnos.forEach( (p)=> { %>
                                        
                                        <%if(idPersonaEnCaso == p.id ) {%>
                                            <tr>
                                                
                                                <td><%= p.nombre %> </td> 
                                                <td><%= p.apellidop %> </td> 
                                                <td><%= p.apellidom %> </td> 
                                            
                                                    <td><%= p.telefono %> </td> 

                                                    <% if(moment(i.fechaAltaProbable).diff(moment(),'days') >0 ) {%>
                                                        <td><%= moment(i.fechaAltaProbable).diff(moment(),'days') %> </td>
                                                        <% }else { %>
                                                            <td> 0 </td>
                                                            <% } %>
                                                   
                                                    <td><%= moment(i.fechaDetectado).format().substring(0,10) %> </td> 
                                                </tr>
                                                
                                                <% } %>
                                            <% }) %>
                                                
                                <% }) %>
                                    
    
                            </tbody>
    
    
                        </table>
                        
                    </div>
        
                </div>    
                
        </div>
        <!-- Personal -->
        <div>

                <div class="header2">
                    <h2><b>Personal</b></h2>
                </div>
                    
               
                <div class="card mt-2">
                
                    <div class="card-header text-white bg-danger">
                        <b>
                            Casos COVID-19 confirmados
                        </b>
                    </div>
    
                    <div class="card-body">
                        <table class="table" id="myTable2">
                            <thead>
                                <tr>
                                    
                                    <th>Nombre</th>
                                    <th>Apellido Paterno</th>
                                    <th>Apellido Materno</th>
                                  
                                    <th>Teléfono</th>

                                    <th>faltan dias</th>
                                    
                                    <th>Fecha Detectado</th>
                                </tr>
                                
                            </thead>
                                                
                            <tbody>
    
                                <% casosConfirmados.forEach( (i)=> { %>
    
                                    <% let idPersonaEnCaso = i.idPersona %>
                                    
                                        <% personal.forEach( (p)=> { %>
                                        
                                        <%if(idPersonaEnCaso == p.id ) {%>
                                            <tr>
                                                
                                                <td><%= p.nombre %> </td> 
                                                <td><%= p.apellidop %> </td> 
                                                <td><%= p.apellidom %> </td> 
                                                <td><%= p.telefono %> </td> 

                                                <% if(moment(i.fechaAltaProbable).diff(moment(),'days') >0 ) {%>
                                                    <td><%= moment(i.fechaAltaProbable).diff(moment(),'days') %> </td>
                                                    <% }else { %>
                                                        <td> 0 </td>
                                                        <% } %>

                                                <td><%= i.fechaDetectado.toISOString().substring(0,10) %> </td> 
                                                </tr>
                                                
                                                <% } %>
                                            <% }) %>
                                                
                                <% }) %>
                                    
    
                            </tbody>
    
    
                        </table>
                        
                    </div>
        
                </div>    
            
    </div>

        
        <%- include('footer') %>

        <script src="/js/reportes.js"></script>
        
    </body>
</html>